# Titanic Survival Prediction Using Machine Learning

In [45]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [46]:
df=pd.read_csv("train.csv")

In [47]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#Now Dropping the “Cabin” column from the data frame as it won’t be of much importance &
Replacing the missing values in the “Age” column with the mean value

In [49]:
df = df.drop(columns="Cabin", axis=1)
df["Age"].fillna(df["Age"].mean(), inplace=True)

#Finding the mode value of the “Embarked” column as it will have occurred the maximum number of times &
Replacing the missing values in the “Embarked” column with mode value

In [50]:
print(df["Embarked"].mode())
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

0    S
dtype: object

In [51]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [52]:
df.replace({"Sex":{"male":0,"female":1},"Embarked":{"S":0,"C":1,"Q":2}}, inplace=True)

In [53]:
X= df.drop(columns=["PassengerId", "Name", "Ticket", "Survived"], axis=1)
Y=df["Survived"]

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)

In [55]:
model= LogisticRegression(max_iter=3000)
model.fit(X_train, Y_train)

LogisticRegression(max_iter=3000)

In [56]:
X_train_predict= model.predict(X_train)

In [57]:
training_accuracy = accuracy_score(Y_train, X_train_predict)
print("Accuracy score of training data is:", training_accuracy)

Accuracy score of training data is: 0.8089887640449438

In [58]:
X_test_predict = model.predict(X_test)
test_accuracy = accuracy_score(Y_test, X_test_predict)
print("Accuracy score of test data is:", test_accuracy)

Accuracy score of test data is: 0.7821229050279329

##As test_accuracy & train accuracy results are pretty close we can assume that model is quite accurate.

#Let’s check for a random Person using random data

In [59]:
input_data = (3,0,35,0,0,8.05,0)
np_input_data = np.asarray(input_data)

#Now as our model was trained in different dimensions, we need to reshape this to our target dimensions.

In [60]:
reshaped_input_data = np_input_data.reshape(1,-1)

In [61]:
predict = model.predict(reshaped_input_data)
if predict[0]==0:
    print("Didn't Survived")
else:
    print("Survived")

Didn't Survived

After running the code, we get the exact same result, as the given one, in the table.